<table style="border: 2px solid ;color:black;" *ngIf="isupdateclick">
    <thead>
        
        <th>fullname</th>
        <th>password</th>
        <th>address</th>
        <th>mobileno</th>
        <th>emailid</th>
        <th>total bottle</th>
        <th>date</th>
       <th>Total Bottle</th>
        <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let connection of getConnectionarr">
        
        <td>{{connection.fullname}}</td>
        <td>{{connection.password}}</td>
        <td>{{connection.address}}</td>
        <td>{{connection.mobno}}</td>
        <td>{{connection.emailid}}</td>
        <td>{{connection.dailybottle}}</td>
        <td>{{connection.startdate}}</td>
        <td>{{connection.totalbottle}}</td>
        
        <td><input type="button" class="btn btn-primary" name="addorder" value="add" (click)="addconnection()"></td>
        <td><input type="button" class="btn btn-primary" name="update" value="update" (click)="updateconnectionclick(connection.fullname)"></td>
        <td><input type="button" class="btn btn-primary" name="delete" value="delete" (click)="deleteconnection(connection.fullname)"></td>
        
        
    </tr>
</tbody>
</table>

<div>
    <button class="btn btn-primary" (click)=" gotoadminhome()" >Go To Admin Home</button>
</div>

<div class="registration-container" *ngIf="isclick">
    <h2 style="text-align: center;" >Update Connection Form</h2>
    <form>
      <label for="fullname">FullName:</label>
      <input type="text" id="fullname" name="fullname" [(ngModel)]="getconnection.fullname" required>

      <label for="password">Password:</label>
      <input type="text" id="password" name="password" [(ngModel)]="getconnection.password" required>
  
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" [(ngModel)]="getconnection.address" required>
  
      <label for="mobno">Mobile No:</label>
      <input type="number" id="mobno" name="mobno" [(ngModel)]="getconnection.mobno" required>
  
      <label for="emailid">Email:</label>
      <input type="email" id="emailid" name="emailid" [(ngModel)]="getconnection.emailid" required>
  
      <label for="dailybottle">Daily Bottle:</label>
      <input type="number" id="dailybottle" name="dailybottle" [(ngModel)]="getconnection.dailybottle" required>
      
      <label for="startdate">Start Date:</label>
      <input type="date" id="startdate" name="startdate" [(ngModel)]="getconnection.startdate" required>

      <label for="totalbottle">Total Bottle:</label>
      <input type="text" id="totalbottle" name="totalbottle" [(ngModel)]="getconnection.totalbottle" required>

     

      <label style="color: blue;">{{message}}</label>
      <button type="submit" (click)="updateconnection()" >update Order</button> 
      
    </form>
  </div>
  
  