<div class="jumbotron"
  style="background-image: url('assets/longbaner.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; height: 100px; margin-bottom: 0;">
  <!-- <h1 class="display-4">Welcome to Janakwade Water Plant</h1>
    <p class="lead">Get the best Quality of Water!</p> -->
</div>


<nav class="navbar">
  <div class="navbar-left">
    <div class="navbar-logo">
      <img src="assets/logo24-7.jpeg" alt="Logo"><span class="navbar-title"><a href="home" style="color: black;"> Janakwade Water Plant</a></span> 
    </div>
    
  </div>
  <div class="navbar-right" aria-current="true">
    <a href="home">Home</a>
    <a href="adminlogin">Admin</a>
    <a href="customerlogin">customer</a>
    <a href="getconnection">GetConnection</a>
    <a href="bookorder">BookOrder</a>



  </div>
</nav>
<router-outlet></router-outlet>




<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>About Us</h3>
      <p>Our Mission is provide a safe and 100% pure water to the customer</p>
    </div>
    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><i class="fas fa-home"></i><a href="">Home</a></li>
        <li><a href="bookorder">BookOrder</a></li>
        <li><a href="getconnection">Get Connection</a></li>
        <li><a href="">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contact Us</h3>
      <p>Contact Us: janakwadewaterplant&#64;gmail.com</p>
      <p>Phone: +91 8669980278</p>
    </div>
    <div class="footer-section">
      <h3>Follow Us</h3>
      <ul class="social-icons">
        <li>
          <div class="icon-container">
            <a href="https://www.facebook.com/omkar.janakwade.9"> <img src="assets\facebooksmall.png" alt="Logo 1"></a>
          </div>

          <div class="icon-container">
            <a href="https://www.instagram.com/om_janakwade?igsh=M2l4dWh6enB2MG44"> <img src="assets/instagram.png"
                alt="Logo 2"></a>
          </div>

          <div class="icon-container">
            <a href=""><img src="assets/Twitter.png" alt="Logo 3"></a>
          </div>




        </li>

      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2024 JanakwadeWaterPlant. All rights reserved.</p>
  </div>
</footer>