
<body>

<div class="container">
  <div class="card">
    <img src="assets/baner2.jpg" alt="Service 1">
    <div class="card-content">
      <h2 class="card-title">Book your Order Now</h2>
      <p class="card-description">safe and pure water provider from 2 year for booking order <a href="bookorder">click here</a></p>
     
    </div>
  </div>

  <div class="card">
    <img src="assets/structure.jpg" alt="Service 2">
    <div class="card-content">
      <h2 class="card-title">Daily Connection </h2>
      <p class="card-description">Premium quality water for daily use. for getting connection <a href="getcommection">click here</a></p>
    </div>
  </div>

  <div class="card">
    <img src="assets/mainfilter.jpg" alt="Service 3">
    <div class="card-content">
      <h2 class="card-title"> Customer Support</h2>
      <p class="card-description">provide customer support services to address any questions or concerns customers</p>
    </div>
  </div>
</div>

</body>

